<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /phpProject/
    
    # Redirect everything to public folder
    RewriteCond %{REQUEST_URI} !^/phpProject/public/
    RewriteRule ^(.*)$ /phpProject/public/$1 [L,R=302]
</IfModule>
